
services:
  crowdsec:
    image: crowdsecurity/crowdsec:latest-debian
    hostname: {{ ansible_hostname }}
    restart: always
    ports:
      - "127.0.0.1:8080:8080"
    networks:
      - proxy
    env_file:
      - "{{ crowdsec_base_folder }}/crowdsec.env"
    volumes:
      - "{{ crowdsec_base_folder }}/data/db:/var/lib/crowdsec/data/"
      - "{{ crowdsec_base_folder }}/data/config:/etc/crowdsec/"
      - "{{ traefik_base_folder }}/data/logs:/logs/traefik:ro"
      - "/var/log/journal:/run/log/journal:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
volumes:
  logs:
    external: true
networks:
  proxy:
    external: true
    enable_ipv6: true