# Docker Compose file for running paperless from the docker container registry.
# This file contains everything paperless needs to run.
# Paperless supports amd64, arm and arm64 hardware.
#
# All compose files of paperless configure paperless in the following way:
#
# - Paperless is (re)started on system boot, if it was running before shutdown.
# - Docker volumes for storing data are managed by Docker.
# - Folders for importing and exporting files are created in the same directory
#   as this file and mounted to the correct folders inside the container.
# - Paperless listens on port 8000.
#
# In addition to that, this Docker Compose file adds the following optional
# configurations:
#
# - Instead of SQLite (default), PostgreSQL is used as the database server.
# - Apache Tika and Gotenberg servers are started with paperless and paperless
#   is configured to use these services. These provide support for consuming
#   Office documents (Word, Excel, PowerPoint and their LibreOffice counter-
#   parts).
#
# To install and update paperless with this file, do the following:
#
# - Copy this file as 'docker-compose.yml' and the files 'docker-compose.env'
#   and '.env' into a folder.
# - Run 'docker compose pull'.
# - Run 'docker compose up -d'.
#
# For more extensive installation and update instructions, refer to the
# documentation.
services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - {{ paperless_redis_folder }}:/data
  db:
    image: docker.io/library/postgres:17
    restart: unless-stopped
    volumes:
      - {{ paperless_db_folder }}:/var/lib/postgresql/data
    env_file: paperless.env
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - db
      - broker
      - gotenberg
      - tika
    ports:
      - "8000:8000"
    networks:
      - default
      - {{ docker_proxy_network }}
    volumes:
      - {{ paperless_data_folder }}/data:/usr/src/paperless/data
      - {{ paperless_data_folder }}/media:/usr/src/paperless/media
      - {{ paperless_data_folder }}/export:/usr/src/paperless/export
      - {{ paperless_data_folder }}/consume:/usr/src/paperless/consume
    env_file: paperless.env
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.paperless.rule=Host(`paperless.{{ ansible_domain }}`)'
      - 'traefik.http.routers.jellyfin.entryPoints={{ traefik_https_endpoint }}'
      - 'traefik.http.services.paperless.loadbalancer.server.port=8000'
  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.22
    restart: unless-stopped
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
  tika:
    image: docker.io/apache/tika:latest
    restart: unless-stopped

networks:
    {{ docker_proxy_network }}:
        enable_ipv6: true
        external: true