PAPERLESS_REDIS=redis://broker:6379
PAPERLESS_DBHOST=db
PAPERLESS_DBPASS={{ paperless_db_password }}
PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://gotenberg:3000
PAPERLESS_TIKA_ENDPOINT=http://tika:9998
PAPERLESS_URL=https://paperless.{{ ansible_domain }}
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD={{ paperless_db_password }}
PAPERLESS_APPS="allauth.socialaccount.providers.openid_connect"
PAPERLESS_SOCIALACCOUNT_PROVIDERS='{"openid_connect": {"APPS": [{"provider_id": "authentik","name": "Authentik","client_id": "paperless","secret": "7Plcc125lacvBALIUJ9f4ajnMVjNdSfySlbaarMv4IMdgr6NBp4Rr9NBDKvIw2sDGYeFL3ov1XUxq7iUYtNaM2vHjJT5wDoWp5HbWWfK0ssCCxBpWOKqd7mSnlFYrXag","settings": { "server_url": "https://auth.msch.cc/application/o/paperless/.well-known/openid-configuration"}}]}}'
PAPERLESS_DISABLE_REGULAR_LOGIN=true
PAPERLESS_REDIRECT_LOGIN_TO_SSO=true