FQDN=backup.msch.cc
NEXTAUTH_URL=https://backup.msch.cc

# Secrects
NEXTAUTH_SECRET={{ borgwarehouse_nextauth_secret }}
CRONJOB_KEY={{ borgwarehouse_cronjob_key }}

# SMTP server settings
MAIL_SMTP_FROM={{ borgwarehouse_email_from }}
MAIL_SMTP_HOST={{ borgwarehouse_email_host }}
MAIL_SMTP_PORT={{ borgwarehouse_email_port }}
MAIL_SMTP_LOGIN={{ borgwarehouse_email_username }}
MAIL_SMTP_PWD={{ borgwarehouse_email_password }}
MAIL_REJECT_SELFSIGNED_TLS=true
