WUD_AUTH_OIDC_AUTHENTIK_CLIENTID=gWJfhD8sdA86fCAan1J1enqZDNNP0gXibk4AtLgi
WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET=YgCE4HwgDg2X8AnSJNBEUfvXFwk4Nz9GfyLmn8oDUXbQrxXqvJFV5MPkgSsO3qI2spxl0hiTbxMbSbbXh5RXWj0cwxdq3Q8i4EH2pw5eCP2eGJ92aFBFOQtU2Ig8lO2v
WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY=https://auth.msch.cc/application/o/whats-up-docker/.well-known/openid-configuration
WUD_TRIGGER_DOCKER_UPDATE_MODE=batch
WUD_TRIGGER_DOCKER_UPDATE_THRESHOLD=minor
WUD_TRIGGER_DOCKER_UPDATE_ONCE=false
WUD_REGISTRY_LSCR_PRIVATE_USERNAME=merlinschumacher
WUD_REGISTRY_LSCR_PRIVATE_TOKEN={{ wud_github_token }}
WUD_TRIGGER_DOCKER_UPDATE_THRESHOLD=minor
WUD_TRIGGER_MQTT_MOSQUITTO_URL=mqtt://mosquitto:1883
WUD_TRIGGER_MQTT_MOSQUITTO_HASS_ENABLED=true
WUD_TRIGGER_MQTT_MOSQUITTO_HASS_DISCOVERY=true
WUD_TRIGGER_MQTT_MOSQUITTO_USER=wud
WUD_TRIGGER_MQTT_MOSQUITTO_PASSWORD={{ wud_mqtt_password }}