---
services:
  proxy:
    image: traefik:v3
    container_name: proxy
    restart: always
    networks:
      - default
      - {{ docker_proxy_network }}
    ports:
      - "80:80"
      - "443:443"
      - "{{ borgwarehouse_ssh_port }}:{{ borgwarehouse_ssh_port }}"
      #- "{{ mosquitto_mqtt_port }}:{{ mosquitto_mqtt_port }}"
      - "{{ mosquitto_mqttsecure_port }}:{{ mosquitto_mqttsecure_port }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_base_folder }}/data/config:/etc/traefik"
      - "{{ traefik_base_folder }}/data/logs:/var/log/traefik"
    env_file:
      - "{{ traefik_base_folder }}/traefik.env"

networks:
  {{ docker_proxy_network }}:
    external: true

