# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json
# jinja2: lstrip_blocks=True, trim_blocks=True
---
http:
  middlewares:
    http-compress:
      compress:
        excludedContentTypes:
          - text/event-stream
          - application/grpc
          - application/octet-stream
          - video/webm
          - video/mp4
          - video/mp4-generic
          - video/h264
          - video/h265
          - video/ogg
          - video/mpeg
          - video/quicktime
          - video/x-msvideo
          - video/mpv
          - video/matroska
          - audio/mpeg
          - audio/ogg
          - audio/aac
          - audio/flac
    hsts-header:
      headers:
        customResponseHeaders:
          Strict-Transport-Security: max-age=63072000
    https-redirect:
      redirectScheme:
        scheme: https
    {{ docker_traefik_lan_middleware | split('@') | first }}:
      ipAllowList:
        rejectStatusCode: 404
        sourceRange: 
        {{ docker_traefik_lan_ip_allowlist | to_nice_yaml(indent=2) | indent(8) }}
    crowdsec-bouncer:
        plugin:
            crowdsec-bouncer-traefik-plugin:
                enabled: true
                crowdsecAppsecEnabled: true
                crowdsecLapiKey: {{ traefik_crowdsec_bouncer_token }}

tls:
  options:
    default:
      minVersion: VersionTLS12
      curvePreferences:
        - X25519
        - CurveP256
        - CurveP384
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305