# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json
---
http:
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
    crowdsec-bouncer:
        plugin:
            crowdsec-bouncer-traefik-plugin:
                enabled: true
                crowdsecAppsecEnabled: true
                crowdsecLapiKey: {{ traefik_crowdsec_bouncer_token }}
