TZ=Europe/Berlin
VPN_SERVICE_PROVIDER=private internet access
OPENVPN_USER={{ pia_openvpn_username }}
OPENVPN_PASSWORD={{ pia_openvpn_password }}
SERVER_REGIONS=Switzerland,UK Southampton,SE Stockholm,Iceland,Norway,Ukraine
UPDATER_PERIOD=24h
HTTPPROXY=on
HTTPPROXY_LOG=on
VPN_PORT_FORWARDING=on
VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{ '{{' }}PORTS{{ '}}' }} }" http://127.0.0.1:8090/api/v2/app/setPreferences 2>&1'