TZ=Europe/Berlin
VPN_SERVICE_PROVIDER=private internet access
OPENVPN_USER={{ pia_openvpn_username }}
OPENVPN_PASSWORD={{ pia_openvpn_password }}
SERVER_REGIONS=Switzerland,UK Southampton,SE Stockholm,Iceland,Norway,Ukraine
UPDATER_PERIOD=24h
HTTPPROXY=on
HTTPPROXY_LOG=on