services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    hostname: media.{{ ansible_domain}}
    user: 1000:1000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8096/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: always
    group_add: 
      - '{{ video_group[0] }}' 
      - '{{ render_group[0] }}' 
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    volumes:
      - {{ media_jellyfin_base_folder }}/config:/config
      - {{ media_jellyfin_base_folder }}/cache:/cache
      - /srv/media3/Serien:/tv
      - /srv/media3/Filme:/movies
    env_file:
      - {{ media_base_folder }}/jellyfin.env
    networks:
      - default
      - {{ docker_proxy_network }}
    ports:
      - "7359:7359/udp"
      - "1909:1900/udp"
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.jellyfin.entryPoints={{ docker_traefik_https_endpoint }}'
      - 'traefik.http.routers.jellyfin.rule=Host(`media.{{ ansible_domain }}`)' 
      - 'traefik.http.routers.jellyfin.middlewares=jellyfin-mw'
      - 'traefik.http.routers.jellyfin.service=jellyfin'
      - 'traefik.http.services.jellyfin.loadBalancer.server.port=8096'
      - 'traefik.http.services.jellyfin.loadBalancer.passHostHeader=true'
      - 'traefik.http.middlewares.jellyfin-mw.headers.customResponseHeaders.X-Robots-Tag=noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex'
      - 'traefik.http.middlewares.jellyfin-mw.headers.SSLRedirect=true'
      - 'traefik.http.middlewares.jellyfin-mw.headers.SSLHost=media.msch.cc'
      - 'traefik.http.middlewares.jellyfin-mw.headers.SSLForceHost=true'
      - 'traefik.http.middlewares.jellyfin-mw.headers.STSSeconds=315360000'
      - 'traefik.http.middlewares.jellyfin-mw.headers.STSIncludeSubdomains=true'
      - 'traefik.http.middlewares.jellyfin-mw.headers.STSPreload=true'
      - 'traefik.http.middlewares.jellyfin-mw.headers.forceSTSHeader=true'
      - 'traefik.http.middlewares.jellyfin-mw.headers.frameDeny=true'
      - 'traefik.http.middlewares.jellyfin-mw.headers.contentTypeNosniff=true'
      - 'traefik.http.middlewares.jellyfin-mw.headers.customresponseheaders.X-XSS-PROTECTION=1'
      - "traefik.http.middlewares.jellyfin-mw.headers.customFrameOptionsValue='allow-from https://media.{{ ansible_domain }}'"