services:
  jellyplex-watched:
    hostname: jellyplex-watched
    image: {{ docker_images.jellyplex_watched }}
    container_name: jellyplex-watched
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    env_file: jellyplex-watched.env
